<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483480365812-ompeadjuiapuu5q71e9acqc84pgnok6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483480365812-ompeadjuiapuu5q71e9acqc84pgnok6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCMFp4dYOWihC2FCVWeL810U1BW4A_y5II</string>
	<key>GCM_SENDER_ID</key>
	<string>483480365812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sayrex.wordup</string>
	<key>PROJECT_ID</key>
	<string>wron-words</string>
	<key>STORAGE_BUCKET</key>
	<string>wron-words.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483480365812:ios:ae985bc6afe85d60554ca1</string>
	<key>DATABASE_URL</key>
	<string>https://wron-words.firebaseio.com</string>
</dict>
</plist>